<!DOCTYPE html>
<html>

<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header">
        <div class="header1">
            <div class="logo-barra">
                <div class="logo">
                    <img class="logo-img" src="/images/logo-mercado-liebre.svg" alt="Imagen Logo" width="100%"
                        height="100%">
                </div>
                <br>
                <div class="barra-icono">
                    <div class="barra">
                        <input class="searchbar" type="text" placeholder="Buscar productos, marcas...">
                    </div>
                    <i class="fas fa-search" id="icono"></i>
                </div>

            </div>
            <br>
            <div class="cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                <p class="cdt">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <br>
        <ul>
            <div class="nav-log">
                <nav class="navbar">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </nav>
                <nav class="loginbar">
                    <!-- <br> -->
                    <li><a href="/register">Creá tu cuenta</a> <i class="fas fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </nav>
            </div>
        </ul>
        <div class="c-burger-menu">
            <button class="button-bm">
                <i class="fas fa-bars"></i>
            </button>
        </div>

    </header>

    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner" width="100%" height="100%">
        </div>
        <div class="general">
            <h4 class="Titular">Basado en tu última visita</h4>
            <br>
            <div class="productos">
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-cafetera-moulinex.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $6.770</p>
                            <p class="descuento"> 40% OFF</p><br>
                        </div>
                        <p class="descripcion"> Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-macbook-pro-2019.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $230.000</p>
                            <p class="descuento"> 20% off</p><br>
                        </div>
                        <p class="descripcion"> MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-samsung-galaxy-s10.jpg"><br>
                    <div class="detalles">
                        <div class="shipping-div">
                            <i class="shipping fas fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <p class="precio"> $70.500</p>
                            <p class="descuento"> 10% off</p><br>
                        </div>
                        <p class="descripcion"> Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-tv-samsung-smart.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $23.200</p>
                            <p class="descuento"> 5% off</p><br>
                        </div>
                        <p class="descripcion"> SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
            <h4 class="Titular">Ofertas!</h4>
            <div class="productos">
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-cafetera-moulinex.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $6.770</p>
                            <p class="descuento"> 40% OFF</p><br>
                        </div>
                        <p class="descripcion"> Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-macbook-pro-2019.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $230.000</p>
                            <p class="descuento"> 20% off</p><br>
                        </div>
                        <p class="descripcion"> MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-samsung-galaxy-s10.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $70.500</p>
                            <p class="descuento"> 10% off</p><br>
                        </div>
                        <p class="descripcion"> Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="articulo">
                    <img class="img-articulo" src="/images/img-tv-samsung-smart.jpg"><br>
                    <div class="detalles">
                        <i class="shipping fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio"> $23.200</p>
                            <p class="descuento"> 5% off</p><br>
                        </div>
                        <p class="descripcion"> SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="iconosfooter">
            <i class="fas fa-credit-card"></i>
        </div>
        <h3 class="Titularh3"> Pagá con tarjeta o en efectivo </h3><br>
        <p class="cdt">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p><br>
        <div class="iconosfooter">
            <i class="fas fa-gift"></i>
        </div>
        <h3 class="Titularh3">Envío gratis desde $ 2.500</h3><br>
        <p class="cdt">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p><br>
        <div class="iconosfooter">
            <i class="fas fa-user-shield"></i>
        </div>
        <h3 class="Titularh3">Seguridad, de principio a fin</h3><br>
        <p class="cdt">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p><br>
        <p class="cdt">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>